<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Database</title>
</head>
<style>
    a{
        background-color: aqua;
        border-radius: 10px;
        padding: 10px;
        margin-left: 400px;
    }
</style>
<body>
    <h1>All Movies</h1>
    <a href="top-rated">В топ 10</a>
    <form action="/" method="get">
        <input type="text" name="search" placeholder="Search movies">
        <select name="category">
            <option value="Series_Title">Title</option>
            <option value="Genre">Genre</option>
            <option value="Director">Director</option>
        </select>
        <button type="submit">Search</button>
    </form>
    <ul>
        {% for movie in movies %}
            <li>{{ movie[2] }} - {{ movie[6] }} - Directed by {{ movie[10] }}</li>
        {% endfor %}
    </ul>
    
</body>
</html>
